@import "../utils/mixins";
@import "../utils/vars";

#swiper__blog {
  @include onTabletAndDesktop {
    display: none;
  }
}

.blog {
  margin-bottom: $paddingMarginBlocksMobile;

  &__titles {    
    @include flexJustifyCenter;
    margin-bottom: 1.2rem;

    @include onTabletAndDesktop {
      margin-bottom: 3rem;
    }
  }

  &__swiper-pagination {
    position: absolute;
    bottom: 0;
  }

  &__swiper .swiper-pagination-bullet {
    width: 66px;
    height: 2px;
    border-radius: 10px;
    background: var(--1, linear-gradient(141deg, #74E6CF 0%, #C0E594 100%));
  }

  &__cards {
    display: none;

    @include onTabletAndDesktop {  
      @include flexColumn;
      gap: 1.8rem;
      padding: 0 10rem;
    }

    @include onDesktopSmall {  
      flex-direction: row;
      padding: 0;
    }
  }

  &__card {
    margin-bottom: 2.5rem;
    border: 1px solid #F0F8F6;

    &__content {
      @include flexColumn;
      gap: $gapMobile;
      margin-bottom: $paddingMarginBlocksMobile;
      padding: 0 1.5rem;

      @include onTabletAndDesktop {
        gap: $gapDesktop;
        margin-bottom: 0;
        padding: 0 2.5rem;
      }
    }

    &__image {
      position: relative;
      height: 10rem;
      margin-bottom: 1.5rem;

      @include onTabletAndDesktop {
        height: 14rem;
      }

      &__png {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      @include onTabletAndDesktop {
        min-height: 3rem;
      }
    }

    &__title > h3 {
      @include fontStyleMobileHeadear3;
      
      @include onTabletAndDesktop {
        @include fontStyleDesktopHeadear;
      }
    }

    &__button {
      display: flex;
      justify-content: end;

      &__link {
        @include flexAlignCenter;
        gap: 0.3rem;
        padding: 0.5rem 0.6rem;
        color: $mint-color;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0.04rem;
        text-transform: uppercase;

        border-radius: 50px;
        background: $light-green-color;

        @include onTabletAndDesktop {
          margin-bottom: 2.5rem;
          padding: 0.5rem 1.3rem;
          color: $white-color;
          background: $mint-color;
        }
      }
    }
  }
}
