@import "../utils/mixins";
@import "../utils/vars";

.boxes {
  &__title {
    text-align: center;
    margin-bottom: $paddingMarginBlocksMobile;
  }

  &__button {
    &__link {
      margin-bottom: $paddingMarginBlocksMobile;
      
      @include onTabletAndDesktop {
        margin-bottom: $paddingMarginBlocksDesktop;
      }
    }
  }
}

.boxes__cards {
  @include flexColumnAlignCenter;

  @include onTabletAndDesktop {
    flex-direction: row;
    gap: 6rem;
    margin-bottom: $paddingTopBlocksMobile;
  }

  @include onDesktopMiddle {    
    gap: 12rem;
  }
}

.boxes__card {
  @include flexColumnAlignCenter;
  gap: $gapDesktop;
  margin-bottom: $paddingMarginBlocksMobile;

  @include onTabletAndDesktop {
    margin-bottom: 0;
  }

  &__content {
    @include flexColumnAlignCenter;
    gap: 0.5rem;
  }

  &__image {    
    position: relative;

    &__bg-circle {
      position: absolute;

      @include onPhone {
        display: none;
      }
    }

    &__bg-circle--pink {
      top: -2rem;
      left: -2rem;
    }

    &__bg-circle--mint {
      top: 0rem;
      left: 6rem;

      @include onDesktopMiddle {
        left: 9rem;
      }
    }

    &__png {
      position: relative;
      width: 100%;
      z-index: 1;
    }
  }
  
  &__title > h3 {
    text-align: center;
    @include fontStyleMobileHeadear3;
    letter-spacing: 0.06rem;
    color: $black-color;

    @include onTabletAndDesktop {
      @include fontStyleDesktopHeadear;
    }
  }

  &__text > p {
    text-align: center;
  }

  &__decoration {
    @include flexJustifyAlignBetween;
    width: 100%;

    @include onTabletAndDesktop {
      display: none;
    }
  }
}
