@import "../utils/mixins";
@import "../utils/vars";

.clients {
  @include onTabletAndDesktop {
    background-image: url("/../src/images/clients-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &__container {    
    @include onTabletAndDesktop {
      @include flexAlignCenter;
      gap: 6.5rem;
    }
  }

  &__subtitle { 
    padding-top: $paddingTopBlocksMobile;

    @include onTabletAndDesktop {
      
    padding-top: $paddingMarginBlocksDesktop;
    }
  }

  &__photos {
    display: none;

    @include onTabletAndDesktop {
      display: block;
    }

    &__image {
      width: 100%
    }
  }
}

#swiper-clients-block {
  @include flexJustifyCenter;

  @include onTabletAndDesktop {
    display: block;
  }
}

.clients__swiper {
  margin-bottom: $paddingMarginBlocksMobile;
  width: 100%;
  height: 24rem;

  @include onDesktopMiddle {
    margin-bottom: 7rem;
    width: 100%;
    height: 29rem;
  }

  &__buttons {
    position: absolute;
    @include flexAlignCenter;
    bottom: 1rem;
    width: 5.3rem;
  }

  &__button-next {
    transform: rotate(180deg);
  }
}

.clients-slider__mobile {
  overflow: auto;

  &__delimiter {
    margin-bottom: 0.9rem;
    text-align: center;

    @include onTabletAndDesktop {  
      margin-bottom: 1.2rem;
      text-align: left;
    }
  }

  &__text {
    max-height: 13rem;
    line-height: 1.8rem;
    color: $gray-color;
    overflow-y: auto;

    @include onTabletAndDesktop {
      font-size: 1rem;
      line-height: 1.3rem;
    }

    @include onDesktopMiddle {
      max-height: 17rem;
    }
  }

  &__paragraph {
    padding-right: 1.5rem;
  }

  &__paragraph:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  @include onTabletAndDesktop {  
    &__paragraph:last-child {
      padding-bottom: 2rem;
    }
  }

  &__text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(transparent, $white-color);
    pointer-events: none;
  }

  &__text > p {
    margin-bottom: 0.9rem;
  }
}

.clients-slide {
  &__client-info {
    @include flexJustifyAlignCenter;    
    gap: 0.6rem;
    margin-bottom: 0.3rem;
  }

  &__photo__container {    
    padding-top: 0.9rem;

    @include onTabletAndDesktop {
      display: none;
    }
  }

  &__photo {
    position: relative;
    z-index: 1;
  }

  &__bg-element {
    position: absolute;
    top: 0;
    left: 1rem;
  }

  &__name {
    @include fontStyleMobileHeadear3;

    @include onTabletAndDesktop {
      @include fontStyleDesktopHeadear;
    }
  }

  &__client-feedback {
    @include flexColumn;
    gap: 0.4rem;

    @include onTabletAndDesktop {      
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }
}

.stars {
  &__container {
    @include flexAlignCenter;
    gap: 0.2rem;
  }

  &__grade {
    font-size: 0.9rem;
    color: $light-gray-color;
  }
}
