@import "../utils/mixins";

.grid {
  /* column-gap: 1.875rem; дописати модифікатор грід для контейнера зображення на 4 стовпчика */

  @include onTabletAndDesktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: $gapDesktop;
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--desktop-#{$start}-#{$end} {
          @include onTabletAndDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
