@import "../utils/mixins";
@import "../utils/vars";

.whats-inside {
  background-color: $light-green-color;

  &__mobile {
    &__info {
      @include flexColumnAlignCenter;
      gap: 1.25rem;
  
      @include onTabletAndDesktop {
        display: none;
      }
    }

    &__info {
      padding-top: $paddingTopBlocksMobile;
      text-align: center;
    }
  
    &__button {
      order: 2;
  
      @include onTabletAndDesktop {
        display: none;
      }
    }
  }

  &__container {
    @include flexColumn;
    gap: 1.3rem;

    @include onTabletAndDesktop {
      flex-direction: row;
      align-items: center;      
      gap: 3rem;
      padding: $paddingMarginBlocksDesktop 0;
    }

    @include onDesktopMiddle {
      gap: 6.3rem;
    }
  }

  &__info {
    @include flexColumn;
    gap: $gapDesktop;
  }

  &__photos {
    position: relative;
    display: flex;
    gap: 0.5rem;
    order: 1;

    @include onTabletAndDesktop {
      gap: 1rem;
      order: 0;
    }

    @include onDesktopMiddle {
      gap: $gapDesktop;
    }
  }

  &__photo {
    position: relative;
    width: 50%;

    @include onTabletAndDesktop {
      width: 8rem;
    }

    @include onDesktopSmall {
      width: 10rem;
    }

    @include onDesktopMiddle {
      width: 18rem;
    }

    &__png {
      width: 100%;
    }
  }

  &__photo--left {
    position: relative;
    z-index: 1;
  }

  &__titles {
    @include flexAlignCenter;
    gap: 1.3rem;
  }

  &__delimeter {
    padding-left: 0.7rem;
  }

  &__bg-element {
    position: absolute;
  }

  &__bg-elements {
    display: none;    
    z-index: 2;

    @include onTablet {
      display: block;      
      left: -5rem;
      width: 10rem;
    }

    @include onDesktopSmall {
      display: block;      
      left: -8rem;
      width: 15rem;
    }

    @include onDesktopMiddle {
      display: block;      
      left: -18rem;
      width: 31rem;
    }
  }

  &__bg-element--circle-big-pink {
    top: -1.5rem;
    left: -1.5rem;

    @include onPhone {
      display: none;
    }
  }

  &__bg-element--circle-pink {
    right: 2rem;
    bottom: 2rem;

    @include onTabletAndDesktop {
      display: none;
    }
  }

  &__bg-element--circle-mint {
    right: -0.7rem;
    bottom: -0.7rem;

    @include onTabletAndDesktop {
      right: -1.5rem;
      bottom: -2rem;
      height: 4rem;
    }
  }

  &__info {
    @include onPhone {
      display: none;
    }
  }

  &__button {    
    position: relative;
    justify-content: left;

    &__link {
      margin-bottom: 1.6rem;
  
      @include onTabletAndDesktop {
        margin-bottom: 0;
        order: 0;
      }
    }
  }

  &__bg-element-leaf {
    position: absolute;
    top: -3rem;
    left: 10rem;
  }
}
