$white-color: #fff;
$black-color: #000;
$main-dark-color: #212121;
$light-green-color: #f0f8f6;
$mint-color: #01a3a4;
$scroll-track-color: #74e6cf;
$green-yellow-color: #c0e594;
$gray-color: #696969;
$middle-gray-color: #c4c4c4;
$light-gray-color: #e5e5e5;
$error-color: #a94442;

$header-height-mobile: 3.75rem;

$paddingTopBlocksMobile: 3rem;
$paddingMarginBlocksDesktop: 6.3rem;
$paddingMarginBlocksMobile: 1.9rem;

$gapMobile: 1.2rem;
$gapDesktop: 1.9rem;
